@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variable.css";

/* Screens */
@import "screens/index.css";

body {
  font-family: "Open Sans", sans-serif;
  margin: 10px var(--space);
  color: white;
}
